body {
    background-color: lightseagreen;
}

header, footer {
    text-align: center;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(0,212,255);
    background: linear-gradient( rgba(0,212,255,1) 0%, rgba(12,12,217,1) 35%, rgba(2,0,36,1) 100%);
    color: white;
}

.photo {
    height: 150px;
    width: 523px;
}

.card {
    background-color: slategrey;
}

.main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}